.footer{
    background: #343434;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20PX;
}
.footer div{
    padding: 40px;
    height: 100%;
}
.footer div ul{
    margin-left: 30px;
    margin-top: 6px;
    list-style: none;
}
.footer div ul li{
    padding: 8px;
}
.footer div ul li a{
    text-decoration: none;
    color: white;
}
.footer div ul li a:hover{
    text-decoration: underline;
    color: #1E90FF;
}