.article_body{
    border: 2px solid;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

}
.article_body .article_class{
    border: 2px solid;
    border-radius: 6px;
    padding: 12px;
    margin: 10px;
    width: 20%;
}
a{
    text-decoration: none;
}
.article_body .article_class h1{
    color: black;
    font-size: 20px;
    padding: 0;
    margin: 20px;
}