.main_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}
.main_body #sub_heading{
    font-size: 22px;
    margin-bottom: 8px;
}
.main_body li{
    padding: 2px;
    font-size: 19px;
    list-style: none;
}